<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card">
            <div class="card-content">
                <div class="input-filed">
                    <input 
                        #searchBox 
                        (keyup)="search(searchBox.value)"
                        placeholder="Rechercher une star"
                    />
                    <div class="collection">
                        <a 
                            *ngFor="let star of stars$ | async"
                            (click)="goToDetail(star)"
                            class="collection-item"
                        >
                            {{star.name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>